h1 {
    font-family: 'Source Code Pro', monospace;
}

#center-class {
    text-align: center;
}

#image-profile {
    border-radius: 20%;
    max-width: 350px;
    max-height: 350px;
}

#about-me {
    
}